WASABI_BUCKET=
WASABI_ENDPOINT_URL=https://s3.<region>.wasabisys.com
WASABI_ACCESS_KEY_ID=
WASABI_SECRET_ACCESS_KEY=
WASABI_REGION=

OPENMETADATA_HOST_PORT=http://localhost:8585/api
OPENMETADATA_JWT_TOKEN=
